<div class="header">
    <div class="left">
        <div class="name">
            NOVA ADMISSÃO COOPERADO
        </div>
        <div class="breadcrumb">
            <ul>
                <li>
                    <a routerLink="/">Home</a>
                </li>
                <li>
                    <a routerLink="/admissao">Admissão</a>
                </li>
                <li>
                    <a routerLink="/expediente">Expediente</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="user-menu">
        <div class="notifications">
            <app-notifications></app-notifications>
        </div>
        <div class="user-profile">
            <app-user-menu></app-user-menu>
        </div>
    </div>
</div>
