.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #fff;
    padding: 0 20px;

    .left {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;

        .name {
            font-size: 24px;
            font-weight: bold;
            color: #333;
        }

        .breadcrumb {
            ul {
                display: flex;
                align-items: center;
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    a {
                        font-size: 14px;
                        color: #333;
                        margin-right: 10px;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .user-menu {
        width: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .notifications {
            display: flex;
            align-items: center;
            gap: 10px;

            fa-icon {
                color: #fff;
                font-size: 20px;
            }
        }

        .user-profile {
            display: flex;
            align-items: center;
            gap: 10px;

            fa-icon {
                color: #fff;
                font-size: 20px;
            }
        }
    }
}