<div class="register-situation-member">
    <div class="register-situation-member-header">
        <div class="title">
            Situação cadastral do membro
        </div>
        <div class="subtitle">
            Consulta na Receita Federal
        </div>
    </div>
    <div class="register-situation-member-body">
        <div class="name">
            <div class="icon">
                <fa-icon [icon]="faUser" size="lg"></fa-icon>
            </div>
            <div class="name-data">
                <span>Nome</span>
                <span>{{userData().name}}</span>
            </div>
        </div>
        <div class="cpf-situation">
            <div class="icon">
                <fa-icon [icon]="faCheckCircle" size="lg"></fa-icon>
            </div>
            <div class="cpf-situation-data">
                <span>Situação do CPF</span>
                <span>{{userData().cpf_situation}}</span>
            </div>
        </div>
    </div>
</div>
